root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{java,xml,yml,yaml,json,ts,vue,css,md}]
indent_style = space
indent_size = 4

[*.{yml,yaml,json,ts,vue,css}]
indent_size = 2
