<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!doctype html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <div th:replace="/administrator/components/style.html"></div>
    <title>Administrator</title>
</head>
<body>
<div th:replace="/administrator/components/nav.html"></div>
<div th:replace="/administrator/components/message_welcome.html"></div>
<div th:replace="/administrator/components/script.html"></div>
</body>
</html>