<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!doctype html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <div th:replace="/administrator/components/style.html"></div>
    <title>Usuario | Permiso</title>
</head>
<body>
<div th:replace="/administrator/components/nav.html"></div>

<div class="container">
    <div class="row mt-4">
        <div class="alert col-12 alert-primary" role="alert">
            <h2>Permisos</h2>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12" th:if="${#request.getParameter('view_name') == null || #request.getParameter('view_name') == '' }">
            <table class="table">
                <thead class="bg-primary text-white">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Accion</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="permiso : ${permisos}">
                        <th scope="row" th:text="${permiso.getIdPermiso()}"></th>
                        <td th:text="${permiso.getNombre()}"></td>
                        <td th:text="${permiso.getFecha()}"></td>
                        <td style="display: flex; justify-items: center; align-items: center;">
                            <button type="button" class="btn btn-warning">
                                <a class="text-white" th:href="'/admin/permiso?view_name=update&id=' + ${permiso.getIdPermiso()}">Editar</a>
                            </button>
                            <form style="margin: 0px;" th:action="@{/admin/permiso}" th:method="delete">
                                <input type="hidden" name="id" th:value="${permiso.getIdPermiso()}">
                                <button class="text-white btn btn-danger" type="submit">
                                    Eliminar
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>

            <button type="button" class="btn btn-primary mt-4 mb-4">
                <a class="text-white" th:href="'/admin/permiso?view_name=new'">Agregar Permiso</a>
            </button>
        </div>

        <div class="col-12" th:if="${#request.getParameter('view_name') == 'new' || #request.getParameter('view_name') == 'update'}">
            <form th:action="@{/admin/permiso}" method="post" th:object="${permiso}">
                <input type="hidden" th:field="*{idPermiso}" th:value="*{idPermiso}">

                <div class="form-group">
                    <label for="inputNombre">Nombre</label>
                    <input class="form-control" type="text" th:value="*{nombre}" id="inputNombre" th:field="*{nombre}" name="Nombre">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="/administrator/components/script.html"></div>
</body>
</html>