<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!doctype html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <div th:replace="/administrator/components/style.html"></div>
    <link rel="stylesheet" th:href="@{/css/publicacion.css}">
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet">
    <title>Publicacion</title>
</head>
<body>
<div th:replace="/administrator/components/nav.html"></div>
<div th:replace="/administrator/components/message_welcome.html"></div>
<div class="container">
    <div class="row mt-4">
        <div class="alert col-12 alert-primary" role="alert">
            <h2>Publicaciones</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div th:if="${#httpServletRequest.getParameter('view_name') == null || #httpServletRequest.getParameter('view_name') == 'all'}" class="col-12">
                <table class="table">
                    <thead class="bg-primary text-white">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Accion</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="post : ${posts}">
                        <th scope="row" th:text="${post.getIdPost()}"></th>
                        <td th:text="${post.getTitulo()}"></td>
                        <td th:text="${post.getFecha()}"></td>
                        <td style="display: flex; justify-items: center; align-items: center;">
                            <button type="button" class="btn btn-warning">
                                <a class="text-white" th:href="'/admin/publicacion?view_name=update&id=' + ${post.getIdPost()}">Editar</a>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <button type="button" class="btn btn-primary mt-4 mb-4">
                    <a class="text-white" th:href="'/admin/publicacion?view_name=new'">Agregar Post</a>
                </button>
            </div>

            <div th:if="${#httpServletRequest.getParameter('view_name') == 'new' || #httpServletRequest.getParameter('view_name') == 'update'}" class="col-12">
                <form id="form1" th:action="@{/admin/publicacion}" th:method="post" th:object="${post}">
                    <input type="hidden" th:value="*{tipo}" th:field="*{tipo}">
                    <input type="hidden" th:value="*{idPost}" th:field="*{idPost}">

                    <div class="form-group">
                        <label for="inputNombre">Titulo</label>
                        <input class="form-control" type="text" th:value="*{titulo}" id="inputNombre" th:field="*{titulo}" name="Titulo">
                    </div>

                    <div class="form-group">
                        <label for="inputExtracto">Extracto</label>
                        <input class="form-control" type="text" th:value="*{extracto}" id="inputExtracto" th:field="*{extracto}" name="Titulo">
                    </div>

                    <div class="form-group">
                        <label for="inputSlug">Slug</label>
                        <input class="form-control" type="text" th:value="*{slug}" id="inputSlug" th:field="*{slug}" name="Titulo">
                    </div>

                    <div class="form-group">
                        <label for="inputGrupo">Categoria</label>
                        <select th:field="*{categoria}" name="_cargo" id="inputGrupo" class="form-control">
                            <option th:value="${categoria.getIdCategoria()}"
                                    th:each="categoria : ${categorias}"
                                    th:text="${categoria.getNombre()}"></option>
                        </select>
                    </div>

                    <div class="content">
                        <div id="alerts"></div>
                        <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
                            <div class="btn-group">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font"><i class="icon-font"></i><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                </ul>
                            </div>
                            <div class="btn-group">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="icon-text-height"></i>&nbsp;<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
                                    <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
                                    <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>
                                <a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="icon-italic"></i></a>
                                <a class="btn" data-edit="strikethrough" title="Strikethrough"><i class="icon-strikethrough"></i></a>
                                <a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="icon-underline"></i></a>
                            </div>
                            <div class="btn-group">
                                <a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i class="icon-list-ul"></i></a>
                                <a class="btn" data-edit="insertorderedlist" title="Number list"><i class="icon-list-ol"></i></a>
                                <a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="icon-indent-left"></i></a>
                                <a class="btn" data-edit="indent" title="Indent (Tab)"><i class="icon-indent-right"></i></a>
                            </div>
                            <div class="btn-group">
                                <a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="icon-align-left"></i></a>
                                <a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="icon-align-center"></i></a>
                                <a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="icon-align-right"></i></a>
                                <a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="icon-align-justify"></i></a>
                            </div>
                            <div class="btn-group">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i class="icon-link"></i></a>
                                <div class="dropdown-menu input-append">
                                    <input class="span2" placeholder="URL" type="text" data-edit="createLink"/>
                                    <button class="btn" type="button">Add</button>
                                </div>
                                <a class="btn" data-edit="unlink" title="Remove Hyperlink"><i class="icon-cut"></i></a>

                            </div>

                            <div class="btn-group">
                                <a class="btn" title="Insert picture (or just drag & drop)" id="pictureBtn"><i class="icon-picture"></i></a>
                                <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
                            </div>
                            <div class="btn-group">
                                <a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="icon-undo"></i></a>
                                <a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="icon-repeat"></i></a>
                            </div>
                            <input type="text" data-edit="inserttext" id="voiceBtn" x-webkit-speech="">
                        </div>

                        <input type="hidden" th:value="${meta_description.getIdPostMetadata()}" name="meta_id">

                        <div th:text="${meta_description.getValor()}" id="editor"></div>

                        <textarea name="meta_descripcion_text_html" id="meta_descripcion_text_html" rows="2" cols="20" style="display:none; "></textarea>

                        <br/>
                        <input id="enviar" type="submit" value="Guardar" name="B1" class="btn btn-primary btn-large"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Scripts Start-->
<div th:replace="/administrator/components/script.html"></div>
<!--<script src="external/google-code-prettify/prettify.js"></script>-->
<div th:if="update">
    <script th:src="@{/js/jquery.hotkeys.js}"></script>
    <script th:src="@{/js/google-code-prettify/prettify.js}"></script>
    <script th:src="@{/js/bootstrap-wysiwyg.js}"></script>
    <script th:src="@{/js/publicacion.js}"></script>
</div>
<!--Scripts End-->

</body>
</html>