<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!doctype html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <div th:replace="/administrator/components/style.html"></div>
    <title>Usuario</title>
</head>
<body>
<div th:replace="/administrator/components/nav.html"></div>
<div class="container">
    <div class="row mt-4">
        <div class="alert col-12 alert-primary" role="alert">
            <h2>Usuario</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div th:if="${#httpServletRequest.getParameter('view_name') == null || #httpServletRequest.getParameter('view_name') == 'all'}" class="col-12">
                <table class="table">
                    <thead class="bg-primary text-white">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Accion</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="usuario : ${usuarios}">
                        <th scope="row" th:text="${usuario.getIdUsuario()}"></th>
                        <td th:text="${usuario.getNombre()}"></td>
                        <td th:text="${usuario.getApellido()}"></td>
                        <td th:text="${usuario.getCorreo()}"></td>
                        <td th:text="${usuario.getFecha()}"></td>
                        <td style="display: flex; justify-items: center; align-items: center;">
                            <button type="button" class="btn btn-warning">
                                <a class="text-white" th:href="'/admin/usuario?view_name=update&id=' + ${usuario.getIdUsuario()}">Editar</a>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <button type="button" class="btn btn-primary mt-4 mb-4">
                    <a class="text-white" th:href="'/admin/usuario?view_name=new'">Agregar Usuario</a>
                </button>
            </div>

            <div th:if="${#httpServletRequest.getParameter('view_name') == 'new' || #httpServletRequest.getParameter('view_name') == 'update'}" class="col-12">
                <form th:action="@{/admin/usuario}" th:method="post" th:object="${usuario}">
                    <input type="hidden" th:field="*{idUsuario}">

                    <div class="form-group">
                        <label for="inputNombre">Nombre</label>
                        <input class="form-control" type="text" th:value="*{nombre}" id="inputNombre" th:field="*{nombre}" name="Nombre">
                    </div>

                    <div class="form-group">
                        <label for="inputApellido">Apellido</label>
                        <input class="form-control" type="text" th:value="*{apellido}" id="inputApellido" th:field="*{apellido}" name="Apellido">
                    </div>

                    <div class="form-group">
                        <label for="inputContrasena">Contrasena</label>
                        <input class="form-control" type="password" th:value="*{contrasena}" id="inputContrasena" th:field="*{contrasena}" name="Contrasena">
                    </div>

                    <div class="form-group">
                        <label for="inputCorreo">Correo</label>
                        <input class="form-control" type="text" th:value="*{correo}" id="inputCorreo" th:field="*{correo}" name="Correo">
                    </div>

                    <div class="form-group">
                        <label for="inputGrupo">Grupo</label>
                        <select th:field="*{idGrupo}" name="_cargo" id="inputGrupo" class="form-control">
                            <option th:value="${grupo.getIdgrupo()}"
                                    th:each="grupo : ${grupos}"
                                    th:text="${grupo.getNombre()}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button type="reset" class="btn btn-primary">Vaciar</button>
                        <button type="button" class="btn btn-primary">
                            <a class="text-white" th:href="'/admin/grupo?view_name=update&id=' + ${usuario.getIdGrupo()}">
                                Ver permisos
                            </a>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="/administrator/components/script.html"></div>
</body>
</html>