<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="container">
    <div class="row">
        <div class="col-12 mt-4">
            <div th:switch="${#httpServletRequest.requestURI}" class="alert alert-success" role="alert">
                <span th:case="'/admin/'">
                    Bienvenido al inicio.
                </span>
                <span th:case="'/admin/categoria'">
                    Bienvenido a tus categorias
                </span>
                <span th:case="'/admin/publicacion'">
                    Bienvenido a las publicaciones.
                </span>
                <span th:case="'/admin/comentario'">
                    Bienvenido a Comentarios
                </span>
                <span th:case="'/admin/grupo'">
                    Bienvenido a Grupos de Usuario
                </span>
                <span th:case="'/admin/permiso'">
                    Bienvenido a Control de Permisos
                </span>
                <span th:case="'/admin/usuario'">
                    Bienvenido a Control de Usuarios
                </span>
            </div>
        </div>
    </div>
</div>